<h1>Mentett árfolyamok</h1>

<table mat-table [dataSource]="savedExchangeRates" class="mat-elevation-z8">

  <ng-container matColumnDef="currency">
    <th mat-header-cell *matHeaderCellDef> Valuta </th>
    <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> Árfolyam </th>
    <td mat-cell *matCellDef="let element"> {{element.exchangeRate | number : '1.2-5'}} </td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef> Komment </th>
    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef> Mentési dátum </th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt | date :'short' }} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Módosítás </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="openEditDialog(element)">Módosítás</button> </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Törlés </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" (click)="openDeleteDialog(element)">Törlés</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>