<br>
<div>
    <mat-form-field>
        <mat-label>Felhasználónév</mat-label>
        <input matInput [(ngModel)]="data.username">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Jelszó</mat-label>
        <input matInput [(ngModel)]="data.password">
    </mat-form-field>
</div>
<div>
    <button mat-raised-button (click)="login()">Bejelentkezés</button>
    
    <button mat-raised-button (click)="register()">Regisztráció</button>
    
    <button mat-raised-button (click)="logout()">Kijelentkezés</button>
</div>
