<h1>Forint / Euró átváltó</h1>

<div class="container">
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #exchangeForm="ngForm">
      <div class="form-group">
        <mat-form-field>
          <mat-label for="amount">Összeg (HUF)</mat-label>
          <input 
            matInput 
            min="0"
            type="number"  
            class="form-control"
            id="amount"
            required
            [(ngModel)]="model.amount"
            name="amount"
            #amount="ngModel">
        </mat-form-field>

      </div>
      <button mat-raised-button color="primary" type="submit" class="btn btn-success" [disabled]="!exchangeForm.form.valid">Átváltás</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>{{ model.amount }} HUF = {{ convertedValue | number : '1.2-2' }} {{ model.to }}</h2>
    <button mat-raised-button color="primary" type="button" class="btn btn-primary" (click)="submitted=false">Új összeg váltása</button>
  </div>
</div>
<!--
<div class="container">
    <div [hidden]="submitted">
      <h1>Currency converter form</h1>
      <form (ngSubmit)="onSubmit()" #exchangeForm="ngForm">
        <div class="form-group">
          <label for="amount">Összeg (HUF)</label>
          <input type="number"  
                 class="form-control"
                 id="amount"
                 required
                 [(ngModel)]="model.amount"
                 name="amount"
                 #amount="ngModel">
          <div [hidden]="amount.valid || amount.pristine"
               class="alert alert-danger">
              Amount is required
          </div>
        </div>
  
        <button type="submit" class="btn btn-success" [disabled]="!exchangeForm.form.valid">Submit</button>

      </form>
    </div>
  
    <div [hidden]="!submitted">
      <h2>{{ model.amount }} HUF = {{ convertedValue }} {{ model.to }}</h2>
      <button type="button" class="btn btn-primary" (click)="submitted=false">New conversion</button>
    </div>
  </div>
  -->